h1 {
    color: #3c3c3c; 
    display: flex;
    justify-content: center;
}

.video {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
}

div {
    color: #3c3c3c; 
    display: flex;
    justify-content: center;
}
